<!-- ユーザーの詳細 -->
<div>
  <h1>User info</h1>
  <%= image_tag user.get_profile_image(100,100) %>
  <h3><%= user.name %></h3>
  <p>自己紹介：<%= user.introduction %></p>

  <!-- ログインユーザーと表示しているユーザーが同じ場合のみ編集ボタンを表示 -->
  <% if user == current_user %>
    <%= link_to "プロフィール編集", edit_user_path(@user.id) %>
  <% end %>
</div>