<!-- ユーザーの詳細 -->
<div>
  <h1>User info</h1>
  <%= image_tag user.get_profile_image(100, 100) %>
  <h3><%= user.name %></h3>
  <p>自己紹介：<%= user.introduction %></p>
  <%= link_to edit_user_path(@user.id) do %>
    <i class="fa-solid fa-user-gear"></i>
  <% end %>
</div>